{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="login">
    <div class="login-text">
        <p>Login</p>
    </div>
    <div class="login-inner"> 
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="field-error">
            <p>{{error}}</p>
        </div>
        {% endfor %}
        {% endif %}
        <form action="{% url "login" %}" method="POST">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}

            {{ form.password|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <p>If you dont have account yet
        <a href="{% url "register" %}">Register</a></p>
    </div>
</div>



{% endblock %}