{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static "registration/register.css" %}">
{% endblock %}

{% block content %}
<div class="register">
  <div class="register-text">
    <p>Sign Up</p>
  </div>

  <div class="register-inner">
    <form method="post" class="form" class="form">
      {% csrf_token %}

      {{form.username |as_crispy_field }}
              
      {{form.email |as_crispy_field }}

      {{form.password1 |as_crispy_field }}

      {{form.password2 |as_crispy_field }}

      <button class="btn btn-primary rounded">SIGN UP</button>

      <p>Already have an account? <a href="{% url "login" %}">Login</a></p>

    </form>
  </div>
</div>
{% endblock %}