.main-wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.title p{
    font-size: 50px;
    font-weight: 900;
    color: brown;
}

.user_id{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.user_id p{
    font-size: 30px;
    font-weight: 900;
    color: brown;
}