{% extends "base.html" %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static "lib_manage/hand_over.css" %}">
{% endblock %}


{% block content %}
<div class="search-bar">
    <div class="search">
        <form id="search-form" action="{% url 'handover' %}" method="POST"  class="form">
            {% csrf_token %}
            <input class="search-input" type="text" name="user_id" placeholder="Enter User_Id">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<hr>
<br>
{% for userGetBook in userGetBooks %}

<div class="card">
    <div class="card-header">
        {{ userGetBook.book.name }}
    </div>
    <div class="card-body">
        <form action="{% url 'handover-delete'%}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ userGetBook.book.id }}" name="book_Id">
            <input type="hidden" value="{{ userGetBook.user.id }}" name="user_Id">
            <button type="submit" class="btn btn-primary">HandOver</button>
        </form>
    </div>
</div>
<br>

{% empty %}
    <p>No books available.</p>
{% endfor %}


{% endblock %}

{% block additional_script %}

{% endblock %}
