{% extends "base.html" %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static "lib_manage/index.css" %}">
{% endblock %}


{% block content %}
<div class="search-bar">
    <div class="search">
        <form action="{% url 'search'%}" method="GET" class="form">
            <input class="search-input" type="search" name="name" placeholder="Enter Book Name">
            <button type="Search" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="container dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Category
    </button>
    <div class="dropdown-menu" aria-labelledby="Select_Category">
      <a class="dropdown-item" href="{% url 'filter' 'adventure' %}">Adventure</a>
      <a class="dropdown-item" href="{% url 'filter' 'kids' %}">Children\'s Books</a>
      <a class="dropdown-item" href="{% url 'filter' 'classics' %}">Classics</a>
      <a class="dropdown-item" href="{% url 'filter' 'comics' %}">Comics and Graphic Novels</a>
      <a class="dropdown-item" href="{% url 'filter' 'fantasy' %}">Fantasy</a>
      <a class="dropdown-item" href="{% url 'filter' 'horror' %}">Horror</a>
      <a class="dropdown-item" href="{% url 'filter' 'historical' %}">Historical Fiction</a>
      <a class="dropdown-item" href="{% url 'filter' 'literary' %}">Literary Fiction</a>
      <a class="dropdown-item" href="{% url 'filter' 'mystery' %}">Mystery</a>
      <a class="dropdown-item" href="{% url 'filter' 'non_Fiction' %}">Non-Fiction</a>
    </div>
  </div>

<div class="book-container" id="all-books">
    {% for book in books %}
        <div class="book-card">
            <h3>{{ book.name }}</h3>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Category:</strong> {{ book.get_category_display }}</p>
            <p><strong>QTY:</strong> {{ book.qty }}</p>
        </div>
    {% empty %}
        <p>No books available.</p>
    {% endfor %}
</div>
{% endblock %}
