{% extends "base.html" %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static "lib_manage/search.css" %}">
{% endblock %}


{% block content %}
<div class="book-container" id="all-books">
    {% for searched_book in searched_books %}
        <div class="book-card">
            <h3>{{ searched_book.name }}</h3>
            <p><strong>Author:</strong> {{ searched_book.author }}</p>
            <p><strong>Category:</strong> {{ searched_book.get_category_display }}</p>
            <p><strong>QTY:</strong> {{ searched_book.qty }}</p>
            <button type="Search" class="btn btn-primary" onclick="confirmDelete({{ searched_book.id }})">Delete</button>
            <button type="Search" class="btn btn-primary" onclick="confirmUpdate({{ searched_book.id }})">Update</button>
            {% if searched_book.qty > 0 %}
            {% if book_id == searched_book.id|stringformat:"s" %}
            {% if error_message %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}
            {% endif %}
            <form action="{% url 'get-book'%}" method="POST">
                {% csrf_token %}
                <input type="text" name="user_Id" >
                <input type="hidden" name="book_Id" value="{{ searched_book.id }}">
                <button type="Search" class="btn btn-primary">Add</button>
            </form>
            {% endif %}
        </div>
    {% empty %}
        <p>No books available.</p>
    {% endfor %}
</div>
{% endblock %}


{% block additional_script %}
<script>
    function confirmDelete(id){
        if(confirm("Are you sure")){
            $.ajax({
                url : "{% url 'delete-book' 0 %}".replace('0', id), 
                type : 'POST',
                data : {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Include CSRF token
                },
                success: function(response) {
                    alert('Item deleted successfully');
                    window.location.href = "{% url 'home' %}";
                },
                error: function(error) {
                    alert('Error deleting item');
                }
            });
        }
    }
</script>

<script>
    function confirmUpdate(id){
        window.location.href = "{% url 'addBook' 0 %}".replace('0', id)
    }
</script>



{% endblock %}
